.gallery-media {
  height: 350px;
  object-fit: cover;
}

img.gallery-media {
  height: 500px !important;
  width: 100%;
  object-fit: cover;
}

.contact {
  text-decoration: none;
  color: inherit;
}
